:root{
    --bg:#0b0e0f;       /* negro azulado */
    --accent:#00ff5e;  /* verde neon */
    --text:#e6fff4;    /* verde claro suave */
}

body{
    margin:0;
    font-family:system-ui, sans-serif;
    background:var(--bg);
    color:var(--text);
}

header{
    background:#000;
    padding:24px;
    text-align:center;
    border-bottom:2px solid var(--accent);
}

h1{
    color:var(--accent);
    margin:0;
}

main{
    max-width:900px;
    margin:40px auto;
    padding:0 16px;
}

.grid{
    display:grid;
    gap:20px;
}

@media(min-width:700px){
    .grid{
        grid-template-columns:repeat(3,1fr);
    }
}

.card{
    background:#111;
    padding:18px;
    border-radius:10px;
    border:1px solid #222;
    box-shadow:0 0 15px rgba(0,255,100,0.1);
}

.card h2{
    margin:0 0 10px;
    color:var(--accent);
}

.meta{
    font-size:.9rem;
    color:#73ffaa;
}

.actions a{
    display:inline-block;
    padding:8px 14px;
    background:var(--accent);
    color:#000;
    border-radius:6px;
    text-decoration:none;
    font-weight:600;
}

.actions a:hover{
    background:#00cc4b;
}
footer{
    text-align:center;
    margin-top:40px;
    padding:20px 0;
    color:#88ffbf;
}
